* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300; 
    box-sizing: border-box;
}
li {
    list-style: none;
    margin: 10px 0px;
}

section {
    min-height: 80vh;
}
article#info {
    padding-top: 200px;
    text-align: center;
    color: #fff;
}
article#trabajos,
article#contacto{
    padding-top: 100px;
    color: #fff;
}

h1,li {
    font-family: "Quicksand", sans-serif;
}

.titulo {
    color: #f0742f;
}
#trabajo02{
    padding-top: 150px;
    color: #fff;
}
article#habilidades,
article#contactos {
    padding-top: 250px;
    color: #fff;
}
#trabajo01 a:active,
#trabajo01 a:link,
#trabajo01 a:visited{
    color: #fff;
}
#trabajo01 a:hover {
    background-color: #fff;
    color: #000 !important;
    padding: 3px;
    border-radius: 3px;
}
#trabajo02 a:active,
#trabajo02 a:link,
#trabajo02 a:visited{
    color: #f0742f;
}
#trabajo02 a:hover {
    background-color: #f0742f;
    color: #fff !important;
    padding: 3px;
    border-radius: 3px;
}