* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300; 
    box-sizing: border-box;
}
li {
    list-style: none;
    margin: 10px 0px;
}

section {
    min-height: 85vh;
}
article#info {
    padding-top: 200px;
    text-align: center;
    color: #fff;
}
article#trabajos,
article#contacto{
    padding-top: 100px;
    color: #fff;
}

h1,li {
    font-family: "Quicksand", sans-serif;
}

.titulo {
    color: #f0742f;
}
#trabajo02,
article#habilidades {
    padding-top: 200px;
    color: #fff;
}
article#trabajos a:active,
article#trabajos a:link,
article#trabajos a:visited{
    color: #fff;
}

article#trabajos a:hover {
    background-color: #fff;
    color: #000 !important;
    padding: 1.5px;
    border-radius: 3px;
}
